extends layout

block content
  div F12를 눌러 console 탭과 network 탭을 확인하세요.
  script(src="/socket.io/socket.io.js")
  script.
    // 웹소켓 스크립트 
    var socket = io.connect("http://localhost:8015",{
      path:"/socket.io",
      transports: ['websocket'], // 웹소켓 가능여부 패킷을 보내지 않고 요청하기
    });
    socket.on("news", function(data){
      console.log(data);
      socket.emit("message", "Hello Node.js");
      socket.emit("reply","Hello reply");
    });